.container {
    padding: 18px var(--container-form-padding);
    margin: 0 auto;
    max-width: var(--container-max);
}

.itemBody {
    padding: 15px 0 52px 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 30px;
}

.topSettings {
    padding: 52px 0 22px 0;
}

.bottomSettings {
    padding: 22px 0 15px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.error {
    margin: 0 auto;
    padding: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 16px;
}