.container {
    background-color: var(--ultra-light-purple);
    min-height: 100%;
}

.wrapper {
    padding-left: var(--container-form-padding);
    padding-right: var(--container-form-padding);
    margin: 0 auto;
    padding-top: 64px;
    padding-bottom: 127px;
    max-width: var(--container-max);
    min-height: 100vh;
}

.head {
    display: flex;
    flex-direction: column;
    margin-bottom: 22px;
}

.title {
    font-weight: 700;
    font-size: 36px;
    line-height: 49px;
}

.link {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: var(--btn-primary);
}

.body {
    display: flex;
    /* gap: 30px; */
    justify-content: space-between;
}

.leftSide {
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.rightSide {
    width: 25%;
}

.ordering {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 24px 20px;
    box-shadow: 0px 16px 24px rgba(96, 93, 202, 0.16);
    border-radius: 15px;
    background-color: var(--white);
}

.orderingItems {
    display: flex;
    justify-content: space-between;
}

.orderingItems:first-child {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
}

.orderingItems:last-child {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
}

.orderingBtn {
    padding: 14px 16px;
    font-weight: 600;
}