.list {
    display: flex;
    justify-content: center;
}

.listItem {
    padding: 12px 32px;
    font-size: 18px;
    line-height: 24px;
    background-color: var(--white);
    color: var(--black);
    transition: all .3s ease;
    gap: 0;
    cursor: pointer;
    transition: all .3s ease;
}

.listItem:hover {
    background-color: var(--btn-primary);
    opacity: .9;
    color: var(--white);
}

.listItem:first-child {
    border-radius: 57px 0 0 57px;
}

.listItem:last-child {
    border-radius: 0 57px 57px 0;
}

.listItemActive {
    color: var(--white);
    background-color: var(--btn-primary);
}