.container {
    padding-top: 32px;
    padding-bottom: 52px;
    padding-left: var(--container-form-padding);
    padding-right: var(--container-form-padding);
    margin: 0 auto;
    max-width: var(--container-max);
}

.head {
    margin-bottom: 37px;
    display: flex;
    justify-content: center;
    font-weight: 700;
    font-size: 36px;
    line-height: 49px;
    text-align: center;
}

.content {
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
}

.item {
    position: relative;
    width: 23%;
    padding: 50px 20px 20px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    background-color: var(--white);
    box-shadow: 0px 16px 24px rgba(96, 93, 202, 0.16);
    transition: transform .3s ease;
    cursor: default;
}

.item:hover {
    transform: translateY(-1%);
}

.img {
    position: absolute;
    top: -25%;
}

.title {
    font-weight: 700;
    font-size: 22px;
    line-height: 30px;
    margin-bottom: 8px;
    margin-top: 20px;
}

.description {
    text-align: center;
}