.container {
    background-color: var(--main-color);
    width: 100%;
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 18px;
    padding-bottom: 18px;
    padding-left: var(--container-form-padding);
    padding-right: var(--container-form-padding);
    margin: 0 auto;
    max-width: var(--container-max);
}

.wrapper>a {
    margin: 0;
    line-height: 0;
}

.wrapper>svg {
    cursor: pointer;
}

.nav {
    display: flex;
    gap: 24px;
}

.nav>a {
    cursor: pointer;
    color: var(--white);
    transition: color .3s ease;
}

.nav>a:hover {
    color: var(--light-purple);
}

.nav .navTel {
    color: var(--light-purple);
    border-bottom: 1px dashed var(--light-purple);
    transition: opacity .3s ease;
}

.navTel:hover {
    opacity: .7;
}

.cartLink {
    display: flex;
    gap: 5px;
    align-items: stretch;
}


.priceItems {
    min-width: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    font-weight: 500;
    border-radius: 15px;
    padding: 10px 15px;
    color: var(--white);
    background-color: var(--btn-primary);
}

.cartLogo {
    position: relative;
}

.cartLogo>*:last-child {
    position: absolute;
    right: -17%;
    top: -10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.countItems {
    min-width: 16px;
    min-height: 16px;
    border-radius: 50%;
    background-color: var(--peach);
}

.cartLogo>*:last-child>span {
    font-weight: 500;
    font-size: 11px;
    line-height: 0;
    color: var(--white);
}

.emptySpase {
    width: 10%;
}